.image-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#result {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 375px;
  margin-bottom: 2rem;
}

section.row {
    margin-bottom: 2rem;
}

.btn { padding:0px 5px; }

.summary-action-setting {
  min-width:80px;
}

.capture-toggle.on, .capture-toggle:active { color:green; }

#summary-table tr td {
  padding-top: 10px;
}
